<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kookmin.oss.baseball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamSelectActivity"
            android:label="@string/title_activity_team_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompareResult"
            android:label="@string/title_activity_compare_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BetterSearchActivity"
            android:label="@string/title_activity_batter_search_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BetterSearchResult"
            android:label="@string/title_activity_batter_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PitcherSearchResult"
            android:label="@string/title_activity_pitcher_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamSearchResult"
            android:label="@string/title_activity_team_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PitcherSearchActivity"
            android:label="@string/title_activity_pitcher_search_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamSearchActivity"
            android:label="@string/title_activity_team_search_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BatterSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BatterCompareResult"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DictionaryBatterWordActivity"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DictionaryPitcherWordActivity"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DictionaryTeamWordActivity"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PitcherCompareResult"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PitcherSelectActivity"
            android:label="@string/title_activity_batter_compare_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
